<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<!-- Camel Case, Snake Case로만 다를 경우 mybatis Mpaeer에서 resultMap을 사용하지 않아도 자바변수와 컬럼명을 매치해준다. -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	
	<!-- 
	
		- 코드의 길이가 길어질 경우 mybatis-config 파일에 <typeAlias>태그로 alias(별명,별칭)을 지정하여 간편하게 사용할 수 있다.
	
	    예시)
		<typeAliases>
			<typeAlias type="com.spring.dto.MemberDTO"  alias="MemberDTO" />
			<typeAlias type="com.spring.dto.ProductDTO" alias="ProductDTO"/>
			<typeAlias type="com.spring.dto.MessageDTO" alias="MessageDTO"/>
		</typeAliases>
		
	 -->
	 
	<typeAliases>
		<typeAlias type="com.spring.mvc2.data_transfer.domain.MemberDTO" alias="MemberDTO"/>
	    <typeAlias alias="OrderDTO" type="com.spring.mvc2.data_transfer.domain.OrderDTO"/> 
	</typeAliases>

	
</configuration>

